/* login-wrapper está en el div principal */
.login-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background: url('../assets/fondo_teleton.jpg') no-repeat center center;
background-size: cover;
}

.login-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5); /* Blanco con opacidad */
  z-index: 0;
}



/* login-header es el header fijo */
.login-header {
  display: flex;
  flex-direction: column;
  height: 80px;
  background-color: rgba(255, 255, 255);
  display: flex;
  align-items: center;
  padding: 0 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.03);
}

.login-wrapper > * {
  position: relative;
  z-index: 1;
}

.login-logo {
  height: 40px;
  object-fit: contain;
}

/* CONTENIDO CENTRADO */
.login-page {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(2px);
}

/* FORMULARIO */
.login-form {
  background: white;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  font-family: 'Segoe UI', sans-serif;
}

/* TÍTULO */
.login-form h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #1a1a1a;
  margin-bottom: 1.5rem;
  text-align: center;
}

/* INPUT */
.login-form input {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
  font-family: inherit;
}

/* BOTÓN */
.login-form button {
  width: 100%;
  padding: 0.75rem;
  background-color: #e50914;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  font-size: 1rem;
  font-family: inherit;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #c40811;
}

/* LINK: ¿Olvidaste tu contraseña? */
.forgot-password-link {
  display: block;
  margin-top: 0.75rem;
  font-size: 0.9rem;
  text-align: center;
  color: #666;
  text-decoration: none;
}

.forgot-password-link:hover {
  color: #e50914;
  text-decoration: underline;
}